<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>com.unocult.inputmethod.homi</string>
	<key>CFBundleName</key>
	<string>homi</string>
	<key>CFBundleDisplayName</key>
	<string>homi</string>
	<key>CFBundleExecutable</key>
	<string>homi</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>27.0</string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSUIElement</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>InputMethodConnectionName</key>
	<string>com.unocult.inputmethod.homi_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>HomiInputController</string>
	<key>TISInputSourceID</key>
	<string>com.unocult.inputmethod.homi</string>
	<key>TISIntendedLanguage</key>
	<string>ko</string>
	<key>TISIconIsTemplate</key>
	<true/>
	<key>tsInputMethodIconFileKey</key>
	<string>homi.tiff</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Hang</string>
		<string>Latn</string>
	</array>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>com.unocult.inputmethod.homi.korean</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>com.unocult.inputmethod.homi.korean</string>
				<key>TISIntendedLanguage</key>
				<string>ko</string>
				<key>TISIconIsTemplate</key>
				<true/>
				<key>TISIconLabels</key>
				<dict>
					<key>Primary</key>
					<string>호</string>
				</dict>
				<key>tsInputModeScriptKey</key>
				<string>smKorean</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeMenuIconFileKey</key>
				<string>homi.tiff</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>homi.tiff</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>homi.tiff</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>com.unocult.inputmethod.homi.korean</string>
		</array>
	</dict>
</dict>
</plist>
